// website color schema
$theme-red: hsl(358, 100%, 68%); // #ff5a5f
$theme-dark-blue: hsl(212, 64%, 19%); // #112D4E
$theme-medium-blue: hsl(213, 47%, 47%); // #3F72AF
$theme-light-blue:  hsl(219, 38%, 90%); // #DBE2EF
$theme-bg:  hsl(0, 14%, 97%); // #F9F7F7

// signup form
$color_1: #747474;
$color_2: #000;
$color_3: white;
$color_5: #fff;
$background-color_1: #fff;
$background-color_2: #000;  